BpmpdBookExcerpts/Project0_0/SOA/businessCatalog/HalloTypes/ReviewObject.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?bpmo version="12.1.3" build="00.00" fullName="HalloTypes.ReviewObject" modifiers="[public]"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/HalloTypes/ReviewObject" elementFormDefault="qualified" xmlns="http://xmlns.oracle.com/bpm/bpmobject/HalloTypes/ReviewObject"  xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/" >
    <xs:complexType name="ReviewObjectType">
        <xs:sequence>
            <xs:element name="review" nillable="true" type="xs:string"/>
            <xs:element name="reason" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ReviewObject" type="ReviewObjectType"/>
</xs:schema>
